
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-buttons start>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewRoom()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Rooms</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-sliding *ngFor="let room of rooms; let i=index">
      <ion-item (click)="openChat(room)">
        <ion-grid>
            <ion-row>
              <ion-col auto>
                  <h2>{{ room.title }}</h2>
              </ion-col>
              <ion-col width-50>
                 <p>
                  <ion-icon small name="unlock" *ngIf="room.type=='public'"> Public</ion-icon>
                  <ion-icon small name="lock" *ngIf="room.type=='private'"> Private</ion-icon>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="onDeleteRoom(i)">Delete</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>

